<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Resume - Start Bootstrap Theme</title>

    <!-- Custom styles for this template -->
    {% load static %}
    <!-- Custom styles for this template -->
    <link href="{% static 'cards/css/words.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-wrapper">
    <div class="container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <span class="word-style"> {{ word.word }} </span>
                </div>
                <div class="flip-card-back">
                    <div class="flip-card-back-content">
                        <span class="heading-style">Part of Speech </span>
                        <br><br>
                        {{ word.type }}
                        <br><br><br><br>
                        <span class="heading-style">Meaning</span>
                        <br>
                        <br>
                        <table>
                            {% for key,value in meanings.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>