<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'cards/vendor/bootstrap/css/bootstrap.min.css' %} rel=" stylesheet
    ">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    {% load static %}
    <link href="{% static 'cards/vendor/fontawesome-free/css/all.min.css' %} rel=" stylesheet
    ">
    <!-- Custom styles for this template -->
    {% load static %}
    <!-- Custom styles for this template -->
    <link href="{% static 'cards/css/words.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="main-wrapper">
    <div class="sidebar-container col-xs-3">
        <div class="sidebar">
            <nav>
                {% if all_words %}
                    <ol class="nav nav-stacked nav-pills">
                        {% for word in all_words %}
                            <li><a href="{% url 'cards:detail' word.id %}">{{ word.word }}</a></li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <h3>Sorry, no words found!</h3>
                {% endif %}
            </nav>
        </div>
    </div>
    <div class="main-view col-xs-9 pull-right">
        <div class="container">
            <button class="button" type ="button" onclick="window.location.reload();">Learn 50 New Words!</button>
        </div>

    </div>
</div>
</body>
</html>
